@font-face {
    font-family: 'OswaldRegular';
    src: URL('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'OswaldBold';
    src: URL('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #E92B16;
}

b{
    font-family: 'OswaldBold';
}

* {
    font-family: OswaldRegular;
    color: #161618;
}

h2 {
    font-size: 30pt;
    margin-top: 1em;
    text-decoration: underline;
}
h3 {
    font-size:  20pt;
    font-weight: 300;
}
p, li{
    font-size:  17pt;
}

li {
    margin-top: 0.5em;
    list-style: none;
};
main body html{
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    background-color: #F2FDFE;
   /* background-color: #FEF3F2;*/
}

header{
    background-color: #16D4E9;
    padding: 2vh 5vw;
    border-bottom: solid #161618;
    display: flex;
}

@media screen and (max-width: 600px){
    header {
        flex-direction: column;
    }
    .icon-div {
        height: 100%;
    }
}

header > div {
    display: flex;
    flex: row;
}

.icon-div{
    margin-left: 4vw;
}

.icon-div > a {
    height: 100%;
    display: flex;
    align-items: center;
}

.icon {
    height: 50%;
}


body {
    margin: 0;
}

#main {
    display: flex;;
}

/*Content*/
#content {
    order: 0;
    flex: 1 0;
    margin: 5vh 2.5vw 5vh 5vw;
}

.description {
    font-size: 20pt;
}



/*Left side of the page (navbar)*/
#left{
    background: #F0F1F1;
    float: left;
    max-height: 100%;
    order: 0;
    flex: 0 1 20%;
    border-right: solid #B1B1B1 0.25vw;
}
nav {
    position: sticky;
    overflow: auto;
    top: 5vh;
}

nav > a {
    font-size: 32pt;
    color: #161618;
    margin-left: 1vw;
}

#navigation-bar {
    flex-direction: column;
}
#navigation-bar > li > a{
    font-size: 30pt;
    color: #161618;
}

.sub-ul > li >a {
    font-size: 15pt;
    color: #161618;
}

/*Right side of the page*/
#right {
    flex: 0 1 20%;
    order: 2;
}


.square{
    width: 75%;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
}

#profile-picture {
    height: 100%;
    width: 100%;
    margin: -10%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
}
@media screen and (max-width: 600px){
    #main {
        flex-direction: column;
    }
    #left {
        border-bottom: solid #B1B1B1 0.25vw;
        border-right: transparent;
    }
}
