@font-face {
    font-family: 'OswaldRegular';
    src: URL('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'OswaldBold';
    src: URL('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

b{
    font-family: 'OswaldBold';
}

* {
    font-family: OswaldRegular;
}

h2 {
    font-size: 30pt;
    margin-top: 1em;
    text-decoration: underline;
}
h3 {
    font-size:  20pt;
    font-weight: 300;
}
p, li{
    font-size:  17pt;
}

li {
    margin-top: 0.5em;
    list-style: none;
};
main body html{
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header{
    background-color: #2DD2D2;
    padding: 2vh 5vw;
    border-bottom: solid #161618;
}

#main {
    display: flex;;
}

/*Content*/
#content {
    order: 0;
    flex: 1 0;
    margin: 5vh 2.5vw 5vh 5vw;
}

.description {
    font-size: 20pt;
}



/*Left side of the page*/
#left{
    background: #ffff55;
    float: left;
    max-height: 100%;
    order: 0;
    flex: 0 1 20%;
}

#navigation-bar {
    flex-direction: column;
}

/*Right side of the page*/
#right {
    flex: 0 1 20%;
    order: 2;
}


.square{
    width: 75%;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
}

#profile-picture {
    height: 100%;
    width: 100%;
    margin: -10%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
}
@media screen and (max-width: 600px){
    #main {
        flex-direction: column;
    }
}
